.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    &__btn,
    &__page {
        width: 40px;
        height: 40px;
        border: 1px solid #d1d5db;
        background-color: #fff;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
    }

    &__btn:hover,
    &__page:hover {
        background-color: #f9fafb;
    }

    &__btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &__page.is-active {
        background-color: #111827;
        color: #fff;
        border-color: #111827;
    }
}