$blue-lightest: #5b4f47; // very light sky blue
$blue-light: #f8f7f4; // light blue
$blue-medium: #5b86b6; // medium blue
$blue-base: #3f6593; // base / primary blue
$blue-dark: #1b3554; // dark blue
$blue-darkest: #000f22; // very dark / navy blue
$navy-dark: #523e27; // Колір як на вашому референсі
// #5b4f47


$r-card: 26px;
$r-btn: 16px;

$shadow-1: 0 1px 0 rgba(0, 15, 34, 0.05);
$shadow-2: 0 14px 34px rgba(0, 15, 34, 0.06);

$bdr: 1px solid rgba(0, 15, 34, 0.08);
$bdr-strong: 1px solid rgba(0, 15, 34, 0.12);

$muted: rgba(0, 15, 34, 0.70);