@use "/src/sass/base/variables.scss" as *;

/* =========================
   PRODUCT CAROUSEL
========================= */

.hp__clip {
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 80px;
}

.hp__slider {
    position: relative;
    overflow: visible;
}

.hp__slider .swiper-wrapper,
.hp__slider .swiper-slide {
    overflow: visible;
}

/* =========================
   SWIPER ARROWS
========================= */

.hp__slider .swiper-button-prev,
.hp__slider .swiper-button-next {
    width: 30px;
    height: 30px;
    color: black;
    transform: translateY(-100%);
    box-shadow: 0 8px 18px rgba(0, 15, 34, 0.08);

}

.hp__slider .swiper-button-prev::after,
.hp__slider .swiper-button-next::after {
    font-size: 18px;
    font-weight: 900;
}